page-home {
$icon-size: 2.1em;  
$full-count : 100px;
$half-count: 50px;  
.large-icon {
    font-size: $icon-size; 
   
}
.profile-pic{
	border-radius:$half-count;height:$full-count;
}
.list-ios {
    margin: -1px 0 10px 0px;
    border:1px solid #696969;
  }
  accordion-list .accordion-header {
    color: #333333;
  }
  .item-ios.item-block .item-inner{
      padding-right: 0px;
  }
  accordion-list .accordion-content{
      padding: 0 0 0 0.75rem;
  }
  .contact-buttons{
    padding: 20px;
  }
  .contact-buttons span{
    margin: 10px;
  }
.item-md ion-avatar img {
    border-radius: 0%;
  overflow: hidden;
  width: 100px;
  height: 110px;
  }

  .padding5 {
    padding:5px;
    color: #fff;
  }
  .list-header-ios {
    text-transform: none !important;
  }
  .content-ios,ion-item{
    background-color : #606060 !important;
  }
}
