page-signup {
$icon-size: 2.1em;   
$double-count : 200px;
$below-half:40px; 
.large-icon {
    font-size: $icon-size; 
   
}
.image-section{
	height: $double-count;
}
.btn-height{height:$below-half;}
.toast-success,.toast-message {
         background-color:#ff0000!important;
         color:green;    
  }
  .list-ios {
    margin: -1px 0 10px 0px;
    border:1px solid #696969;
  }
  accordion-list .accordion-header {
    color: #333333;
  }
  .item-ios.item-block .item-inner{
      padding-right: 0px;
  }
  accordion-list .accordion-content{
      padding: 0 0 0 0.75rem;
  }
  .contact-buttons{
    padding: 20px;
  }
  .contact-buttons span{
    margin: 10px;
  }
}
