<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="form-content">
  <form class="form" [formGroup]="validationsForm">
   <!--<ion-item (click)="presentActionSheet()" class="image-section" text-center>
    <ion-icon *ngIf="!imageSrc" ios="ios-images" md="md-images" class="large-icon"></ion-icon>
    <h6>Upload Profile Picture</h6>
    <img [src]="imageSrc" full />
  </ion-item>-->
  <ion-item text-center>
    <img src="assets/imgs/support-logo-512-2.png" full />
  </ion-item>
    <ion-item>
      <ion-label floating color="primary">Name</ion-label>
      <ion-input type="text" [formControl]="validationsForm.controls['name']"></ion-input>
    </ion-item>
   <div *ngIf="!validationsForm.controls.name.valid &&
    validationsForm.controls.name.dirty"
    class="validator-error">
  Please enter name.
</div>
    


    <ion-item>
      <ion-label floating color="primary">Email</ion-label>
      <ion-input type="email" [formControl]="validationsForm.controls['email']"></ion-input>
    </ion-item>
   
      
<div *ngIf="!validationsForm.controls.email.valid &&
    validationsForm.controls.email.dirty"
    class="validator-error">
  Please enter email.
</div>
      <ion-item>
        <ion-label floating color="primary">Phone</ion-label>
        <ion-input type="number" [formControl]="validationsForm.controls['phone']"></ion-input>
      </ion-item>
      


<div *ngIf="!validationsForm.controls.phone.valid &&
    validationsForm.controls.phone.dirty"
    class="validator-error">
  Please enter phone.
</div>
      
    
<ion-item>

    <button ion-button full color="secondary" type="submit" [disabled]="!validationsForm.valid" (click)="signup()" class="btn-height">Signup</button>
  </ion-item>

  </form>
  
</ion-content>
